{% extends "base.html" %}
{% block title %} Formulario Registro {% endblock %}

{% block content %}

    <h2>Formulario de registro (En una sola vista)</h2>

    <form action='{% url "registro" %}' method='post'>
        {% csrf_token %}
        <fieldset>
            <legend>Datos Personales</legend>

            <label for="nombres">Nombres</label><br>
            <input type="text" name="nombres" id="nombres" placeholder="Ej: Kevin"><br><br>

            <label for="paterno">Apellido Paterno</label><br>
            <input type="text" name="paterno" id="paterno" placeholder="Ej: Soto"><br><br>
            
            <label for="materno">Apellido Materno</label><br>
            <input type="text" name="materno" id="materno" placeholder="Ej: Cruz"><br><br>

            <label for="fecha_nac">Fecha de Nacimiento</label><br>
            <input type="date" name="fecha_nac" id="fecha_nac"><br><br>

            <label for="ci">Nro Carnet de Identidad</label><br>
            <input type="text" name="ci" id="ci" placeholder="Ej: 12345678"><br><br>

            <label for="correo">Correo Electronico</label><br>
            <input type="email" name="correo" id="correo" placeholder="Ej: kevin.soto@correo.com"><br><br>

            <label for="telefono">Telefono</label><br>
            <input type="tel" name="telefono" id="telefono" placeholder="Ej: 77777777"><br><br>

            <button type="submit">Registrar</button>
            <button type="reset">Limpiar</button>
        </fieldset>
    </form>

    {% if nombres or paterno or materno or fecha_nac or ci or correo or telefono %}
    <hr>
    <div>
        <h3>Datos enviados</h3>
        <p><strong>Nombre completo: </strong> {{ nombre_completo }} </p>
        <p><strong>Fecha nacimiento: </strong> {{ fecha_nac }} </p>
        <p><strong>Ci: </strong> {{ ci }} </p>
        <p><strong>Correo: </strong> {{ correo }} </p>
        <p><strong>Telefono: </strong> {{ telefono }} </p>
    </div>
    
    {% endif %}

{% endblock %}